<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OwinServer.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OwinServer.Test.Properties.Settings>
            <setting name="ServerBaseUrl" serializeAs="String">
                <value>https://localhost:8099</value>
            </setting>
            <setting name="Thumbprints" serializeAs="String">
                <value>E3D912F3C689C03274253BC3EB69A77B2C90C1FF</value>
            </setting>
            <setting name="WebProxyUrl" serializeAs="String">
                <value />
            </setting>
        </OwinServer.Test.Properties.Settings>
    </userSettings>
</configuration>